# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pyenv
.python-version

# macOS
.DS_Store

# Windows
Thumbs.db

# pytest
.pytest_cache/

# Compiled files
*.so
*.o
**/*.so
**/*.o
**/*.x
logs/
outputs*/
deprecated/
micro_benchmark/kll
